---
title: Controlling Creative Atrocities 
---
<div data-role="page" id="setup" data-dom-cache="true" data-theme="e">
    <div data-role="header" data-theme="e">
        <h1>Setup</h1>
    </div> <!-- header -->
    <div date-role="content">
       <fieldset data-role="controlgroup" data-theme="d" id="decks">
       </fieldset>

       <p>
         <a href="#invite" data-role="button" data-icon="check" data-theme="e" data-transition="flip" id="create-btn">These decks rule!</a>
       </p>
    </div> <!-- content -->
</div>

<div data-role="page" id="invite" data-dom-cache="true" data-theme="e">
    <div data-role="header" data-theme="e">
        <h1>Invite</h1>
    </div> <!-- header -->
    <div date-role="content">
       <div id="qr"></div>
       <p id="qr-cleartext"></p>

       <table data-role="table" data-mode="table" id="players" class="ui-body-b ui-shadow table-stripe ui-responsive">
         <thead>
           <tr class="ui-bar-e">
             <th width="20px">&nbsp;</th>
             <th>Player</th>
           </tr>
         </thead>
         <tbody>
             <tr><td class="ui-body-c">&nbsp;</td><td class="ui-body-c">No players have entered the game yet.</td></tr>
         </tbody>
       </table>

       <p>
         <a href="#" data-role="button" data-icon="check" data-theme="e" data-transition="flip" id="start-btn">All players are in!</a>
       </p>
    </div> <!-- content -->
</div>

<div data-role="page" id="scoreboard" data-dom-cache="true" data-theme="e">
    <div data-role="header" data-theme="e">
        <h1>Scoreboard</h1>
    </div> <!-- header -->
    <div date-role="content">
       <table data-role="table" data-mode="table" id="scoreboard-tbl" class="ui-body-b ui-shadow table-stripe ui-responsive">
         <thead>
           <tr class="ui-bar-e">
             <th width="20px">&nbsp;</th>
             <th>Player</th>
             <th>Score</th>
           </tr>
         </thead>
         <tbody>
         </tbody>
       </table>

       <table data-role="table" data-mode="table" id="scoreboard-cards-tbl" class="ui-body-b ui-shadow ui-responsive">
           <thead>
           <tr class="ui-bar-e">
              <th>Last Winner: <span id="lastWinner"></span></th>
              <th>Current Black Card</th></tr>
           </thead>
           <tbody>
               <tr><td id="lastWinningSet"><td id="currentBlackCard"></tr>
           </tbody>
       </table>
    </div> <!-- content -->
</div>

<div data-role="page" id="candidates" data-dom-cache="true" data-theme="e">
    <div data-role="header" data-theme="e">
        <h1>Candidates</h1>
    </div> <!-- header -->
    <div date-role="content" id="candidates-container">
    </div> <!-- content -->
</div>

<div data-role="page" id="error">
    <div data-role="header" data-theme="e">
        <h1>Error</h1>
    </div><!-- /header -->

    <div data-role="content" data-theme="d">    
        <h2>Something is wrong</h2>
        <p id="error-message"></p>
        <p><a href="#" data-rel="back" data-role="button" data-inline="true" data-icon="back">Go back!</a></p> 
    </div><!-- /content -->
</div>

<script src="/socket.io/socket.io.js"></script>

<!-- build:js(app) scripts/controller.js -->
<script src="scripts/controller.js"></script>
<!-- endbuild -->
